
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body{

  background:#050816;

  color:white;

  font-family:Arial;

  overflow:hidden;
}

body::before{

  content:"";

  position:fixed;

  inset:0;

  pointer-events:none;

  background:
    repeating-linear-gradient(
      to bottom,
      rgba(255,255,255,0.03),
      rgba(255,255,255,0.03) 1px,
      transparent 1px,
      transparent 3px
    );

  mix-blend-mode:overlay;

  opacity:0.25;
}

.glitch{

  position:relative;
}

.glitch::before,
.glitch::after{

  content:attr(data-text);

  position:absolute;

  left:0;

  top:0;

  width:100%;

  overflow:hidden;
}

.glitch::before{

  transform:translateX(-2px);

  color:#00ffee;

  opacity:0.6;
}

.glitch::after{

  transform:translateX(2px);

  color:#ff0055;

  opacity:0.6;
}
